.intro{
    color: #64ffda;
    font-size: 1.5rem;
    font-family:'Courier New', monospace;
}
.statement{
    color: #8892b0;
    margin-bottom: 50px;
    margin-top: -10px;
}

.get-in-touch{
    padding: 20px 35px;
    background-color: transparent;
    border: 1px solid #64ffda;
    color: #64ffda;
    border-radius: 5px;
    cursor: pointer;
}

.get-in-touch:hover{
    background-color: #64ffdb33;
}

@media (max-width:1023px){
    .opening-container{
        padding:15%;
    }
    .name-header{
        color: #ffffff;
        font-size: 45px;
    }
    .passion-header{
        color: #8892b0;
        font-size: 30px;
    }
}

@media (min-width: 1024px){
    .opening-container{
        display: flex;
        padding-left: 15%;
        padding-right: 15%;
        align-items: center;
        /* margin-top:105px; */
    }
    .name-header{
        color: #ffffff;
        font-size: 59px;
    }
    .passion-header{
        color: #8892b0;
        font-size: 59px;
    }
    .company{
        transition: text-decoration 0.5s;
    }
}

.opening-container {
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #000; /* Black background */
  }
  
  .opening-content {
    text-align: center;
  }
  
  .name-header {
    font-size: 2.5rem;
    color: #fff; /* White text for contrast */
    animation: slideInRight 2s ease-out;
  }
  
  .passion-header {
    font-size: 2rem; /* Adjust size as needed */
    color: #fff; /* White text for contrast */
    animation: slideInLeft 2s ease-out;
  }
  
  .statement {
    font-size: 1.25rem;
    color: #ccc; /* Light grey for better readability */
    margin-top: 1rem;
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }