.experience{
    color:#ffffff;
}

.experience-names{
    display: flex;
}
.company-name{
    cursor: pointer;
    padding:10px;
}

.company-name:hover{
    background-color:#112240e3;
    border-bottom: 1px solid #112240e3;
}

.experience-data{
    display: flex;
    flex-direction: column;
}

@media (max-width: 1023px){
    .experience-names{
        justify-content: center;
    }
    .experience{
        padding: 5% 15%;
    }
    .tabColor{
        color: #64ffda;
    }
    .company-name{
        border-bottom: 1px solid;
    }
    .company-content{
        height: 460px;
    }
}

@media (min-width: 1024px){
    .experience{
        padding:8% 20%;
    }
    .experience-header{
        color:#ccd6f6;
    }
    .experience-names{
        flex-direction:column;
    }
    .experience-data{
        flex-direction: row;
        justify-content:center
    }
    .company-content{
        margin-left: 50px;
        height:290px;
    }
    .company-name{
        border-left: 1px solid;
        margin-bottom: -16px;
    }
    .company-name:hover{
        border-left: 1px solid #112240e3;
    }
    .tabColor{
        color: #64ffda;
    }
}